APP_NAME=spartan-framework
APP_ENVIRONMENT=local
APP_VERSION=2.1.0
APP_RUNTIME=azure
APP_DEBUG=False
APP_MAINTENANCE=False
ALLOWED_ORIGINS=*

LOG_LEVEL=INFO
LOG_CHANNEL=azure
LOG_DIR=storage/logs
LOG_SAMPLE_RATE=1.0

STORAGE_TYPE=local
STORAGE_BUCKET=spartan-bucket
STORAGE_PATH=storage/core
